.roomImage {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  max-width: 700px;
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.printButton {
  text-transform: none;
}

@media print {
  body * {
    visibility: hidden;
  }

  .container,
  .container * {
    visibility: visible;
  }

  .container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .printButton {
    display: none;
  }
}
