:root {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  ::selection {
    color: white;
    background-color: #faa935;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}
